body {
      font-family: Arial, sans-serif;
      background: #e74ec5;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
      background: linear-gradient(300deg, deepskyblue, darkviolet, blue);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
    }
    .box {
      background: darkviolet;
      padding: 20px;
      width: 260px;
      border: 1px solid #1c0abb;
      border-radius: px;
    }
    h2 {
      margin: 0 0 15px;
      text-align: center;
      font-size: 20px;
    }
    input {
      width: 100%;
      padding: 8px;
      margin: 8px -8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    button {
      width: 50%;
      padding: 8px;
      margin-top: 10px;
      background: #000001;
      border: none;
      color: rgb(255, 255, 255);
      font-size: 15px;
      border-radius: 4px;
      cursor: pointer;
    }
    button:disabled {
      background: #9bbfff;
    }
    .msg {
      margin-top: 10px;
      font-size: 14px;
      text-align: center;
      height: 18px;
    }
    
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}